body {
	text-align: center;
}

h2 {
	font-size: 2rem;
	font-weight: bold;
}

h3 {
	font-size: 1.25rem;
	margin-top: 5px;
}

/* Heading Section Styling */

.welcome-section {
	background-image: url(../imgs/backgrounds/h_img.jpg);
	height: 100vh;
	background-size: cover;
}

.main-logo {
	margin: 200px auto 25px;
}

h1.heading {
	font-weight: bolder;
	color: #fff;
	line-height: 1.5;
	font-size: 3rem;
	margin: 0 auto 5px;
}

p.tagline {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
}

.mouse-logo {
	margin: 120px auto 15px;
}

/* About Secton Styling */

.about-us {
	margin: 50px auto;
	width: 75%;
	max-width: 85%;
}

.about-us > p {
	line-height: 2;
	margin-top: 10px;
}

/* Services Section Styling */
.services {
	background-image: url(../imgs/backgrounds/s_image.jpg);
	height: 488px;
	width: 100%;
	background-size: cover;
	padding-top: 135px;
}

.services-content > h2 {
	color: #fff;
}

.services-content > p {
	color: #fff;
	line-height: 2;
	width: 70%;
	max-width: 80%;
	margin: 20px auto;
}

.what-we-do {
	margin-top: 70px;
}

.what-we-do > h2 {
	margin-bottom: 50px;
}

#design-description,
#dev-description,
#proj-description {
	display: none;
}

.col-md-4 > img,
p {
	cursor: pointer;
}

/* Portfolio Section */

.portfolio-section {
	margin: 150px auto;
}

.portfolio > img {
	margin: 20px;
}

.caption {
	position: absolute;
	left: 20px;
	bottom: 20px;
	margin-left: 15px;
	background-color: rgba(46, 28, 10, 0.75);
	width: 83%;
	height: 80%;
	text-align: center;
	cursor: pointer;
	display: none;
}

.caption > h3 {
	text-align: center;
	font-weight: bold;
	font-size: 1.25rem;
	color: #fff;
	border: solid #fff 4px;
	height: 125px;
	width: 155px;
	position: relative;
	display: inline-block;
	top: 15px;
	left: 0;
	padding-top: 45px;
}

/* Contact Us Section */

.contact-us {
	background-image: url(../imgs/backgrounds/c_image.jpg);
	padding: 20px 0 20px;
}

.contact-us > h2 {
	color: #fff;
	margin: 30px auto;
}

textarea {
	margin: 20px auto;
}

button {
	margin-bottom: 20px;
}

input[type="name"]::placeholder,
input[type="email"]::placeholder,
textarea[name="message"]::placeholder {
	color: #fff;
}

#name,
#email,
#message {
	background: transparent;
}

/* Social Media Section */

.social {
  text-align: center;
  margin: 50px auto;
}

.social > img {
  margin: 10px;
  cursor: pointer;
}

.social > h3 {
  margin: 40px auto 10px;
}
